[submodule "dwmkerr.com/themes/ghostwriter"]
	path = dwmkerr.com/themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
[submodule "dwmkerr.com/themes/herring-cove"]
	path = dwmkerr.com/themes/herring-cove
	url = https://github.com/spf13/herring-cove.git
[submodule "dwmkerr.com/themes/hugo_theme_pickles"]
	path = dwmkerr.com/themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles.git
	branch = release
; [submodule "dwmkerr.com/themes/dwmkerr_hugo_theme_pickles"]
;     path = dwmkerr.com/themes/dwmkerr_hugo_theme_pickles
;     url = https://github.com/dwmkerr/hugo_theme_pickles.git
;     branch = release
