[submodule "dwmkerr.com/themes/ghostwriter"]
	path = dwmkerr.com/themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
[submodule "dwmkerr.com/themes/herring-cove"]
	path = dwmkerr.com/themes/herring-cove
	url = https://github.com/spf13/herring-cove.git
