/* A dividing horizontal rule ----------- */

hr.div {
	background: #ccc;
	height: 1px;
	border: none;
	margin: 10px 0;
}

/* Scribe nag ----------- */

.scribe-nag {
	overflow: hidden;
}


/* Fix notice placment on our admin pages ----------- */

.wrap div.error,
.wrap div.updated {
	clear: both;
}

.appearance_page_theme-settings .metabox-holder textarea {
    margin-bottom: 5px;
}