name: Validate Pull Request

# This workflow verifies that the site will build for pull requests.
on: [pull_request]

jobs:
  validate-pull-request:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'
        extended: true

    - name: Build
      working-directory: ./dwmkerr.com
      run: hugo --minify

  # Deploy a preview of the PR
  # See: https://github.com/marketplace/actions/deploy-pr-preview
  deploy-preview:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 'latest'
        extended: true

    - name: Build for Preview
      if: github.event.action != 'closed'
      working-directory: ./dwmkerr.com
      run: hugo --minify --baseURL "https://dwmkerr.github.io/dwmkerr.com/pr-preview/pr-${{ github.event.number }}/"

    - name: Deploy preview
      uses: rossjrw/pr-preview-action@v1
      with:
        source-dir: ./dwmkerr.com/public/
