# The 'release-please' workflow is used to create the 'Release Please' pull
# request. This PR is opened when we have a new commit to main.
# See:
#   https://github.com/googleapis/release-please
name: Release Please
on:
  push:
    branches:
      - main
jobs:
  release-please:

    runs-on: ubuntu-latest

    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Config includes docs in changelog so documentation changes trigger releases
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
        if: ${{ steps.release.outputs.release_created }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.93.0'
          # extended: true
        if: ${{ steps.release.outputs.release_created }}

      - name: Build
        working-directory: ./dwmkerr.com
        run: hugo --minify
        if: ${{ steps.release.outputs.release_created }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_branch: gh-pages
          publish_dir: ./dwmkerr.com/public
        if: ${{ steps.release.outputs.release_created }}
